/* home.html styles */
body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	background-color:#f4f3f3;
}

.container{
	width:100%;
	margin: auto;
	overflow: hidden;
}

header{
	background:#FE018B;#35434a;
	/*border-bottom:#448AFF 3px solid;*/
	height:120px;
	width:100%;
	padding-top:35px;
	padding-bottom:35px;


}

.main-header{
			text-align:center;
			background-color: #FE018B;
			height:80px;
			width:100%;
			margin:0px;
		}
#brandname{
	float:left;
	font-size:30px;
	color: #FE018B;
	margin: 10px;
}

header h2{
	text-align:center;
	color:#fff;
	font-family: cooper;
}

.mainbox{
	text-align:center;
	border: 5px solid #FE018B;   
	width:100%;
}


.btn-info {background-color: #FE018B;/*#2196F3*/
	height:40px;
	width:100px;} /* Blue */
.btn-info:hover {background: #FE019A;/*#0b7dda;*/


.resultss{
	border-radius: 15px 50px;
    background: #345fe4;
    padding: 20px; 
    width: 200px;
    height: 150px;
}


table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}



td,th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f4f3f3;
  color: white;
}
tbody div{
    overflow:scroll;
    height:400px;
}





div a img{
	border-radius: 50%;
	padding-left:10px;
	padding-right:10px;
	padding-top:30px;
}

center h1{
	text-align:center;
	color:#FE018B;
	font-family: cooper;
}

center img{
	padding: 20px 20px 20px 20px;
	border: 3px solid #FE018B;
}

center p{
	text-align:center;
	color:#8a9c8f;
	font-family: calibri;
	font-size:20px;
}











